spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://192.168.111.128:3306/yunmall_ums
    driver-class-name: com.mysql.cj.jdbc.Driver
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
server:
  port: 8000