spring:
  datasource:
    username: root
    password: 123456
    url: jdbc:mysql://192.168.111.128:3306/yunmall_sms?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai&useSSL=false
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: never
mybatis-plus:
  mapper-locations: classpath:/mapper/**/*.xml
  global-config:
    db-config:
      id-type: auto
server:
  port: 7000